[Unit]
Description=CPU Temperature Logging
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/DiPy/cputemp_script.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
